<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0D13B0F0-3075-4D46-A9E6-2E81B0CE76DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC8E992-F814-4C77-84E5-39FAE0348205</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9AC8E992-F814-4C77-84E5-39FAE0348205</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092C2BC0-3BF7-42D6-95BE-297552D71EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tim Broder</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Json Lint</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jsonlint</string>
				<key>text</key>
				<string>JsonLint</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D13B0F0-3075-4D46-A9E6-2E81B0CE76DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo `pbpaste` | python -mjson.tool | pbcopy;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9AC8E992-F814-4C77-84E5-39FAE0348205</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Linted!</string>
				<key>title</key>
				<string>Linted!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>092C2BC0-3BF7-42D6-95BE-297552D71EC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>092C2BC0-3BF7-42D6-95BE-297552D71EC5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0D13B0F0-3075-4D46-A9E6-2E81B0CE76DB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9AC8E992-F814-4C77-84E5-39FAE0348205</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://timbroder.com</string>
</dict>
</plist>
