function check_port {
    (set -o pipefail && lsof -nP -i4TCP:$1 | grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn} LISTEN | sort -u | tr -s ' ')
}
function kill_port {
    check_port $1 | cut -f 2 -d' ' | xargs kill -9
}
function myip {
    ifconfig lo0 | grep 'inet ' | sed -e 's/:/ /' | awk '{print "lo0: " $2}'
    ifconfig en0 | grep 'inet ' | sed -e 's/:/ /' | awk '{print "en0: " $2}'
    ifconfig en1 | grep 'inet ' | sed -e 's/:/ /' | awk '{print "en1: " $2}'
}

alias jf="pbpaste | jq '.' | pbcopy"
alias jm="pbpaste | jq -c | pbcopy"
alias gcs="git checkout stash@{0}"
